<div class="center-content">
    <h1>Main Page | List Tugas</h1>
    <div ngbDropdown>
        <button class="btn btn-warning" id="gfg" 
                ngbDropdownToggle>List Tugas</button>
        <div ngbDropdownMenu="gfg">
          <button ngbDropdownItem (click)="submitTugas1()">Tugas 1</button>
          <button ngbDropdownItem (click)="submitTugas2()">Tugas 2</button>
          <button ngbDropdownItem (click)="submitTugas3()">Tugas 3</button>
          <button ngbDropdownItem (click)="submitTugas4()">Tugas 4</button>
          <button ngbDropdownItem (click)="submitTugas5()">Tugas 5</button>
        </div>
    </div>
</div>