<div class="container">
  <div class="title row">
    <h1>Looking for Job or Candidate ?</h1>
    <p>Join our community to communicate with other job seeker and the Recruiter.
      Interact with our team, we loved to help you find your ideal job
    </p>
    <div class="button-learn">
      <button (click)="submitSignIn()">Learn More</button>
    </div>
  </div>
  <div class="image-content row">
    <img [src]="ImagePathDesktop" width="900" height="600" [alt]="" class="img1">
    <img [src]="ImagePathMobile" width="900" height="600" [alt]="" class="img2">
  </div>
</div>
