<body>
    <div class="container">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="data">
            <h1>Username</h1>
            <app-text-input [isPassword]="false" (iniEvent)="FunctionAuthUsername($event)"></app-text-input>
            {{username}}
            <h1>Password</h1>
            <app-text-input [isPassword]="true" (iniEvent)="FunctionAuthPassword($event)"></app-text-input>
            {{password}}
        </div>
        <div class="button">
            <button>Login</button>
            <button (click)="clear()">Clear</button>
            <button (click)="backList()">Back</button>
        </div>

        <!-- <div class="tableData">
            <table class="tableText">
                <tr>
                    <td>Name : </td>
                    <td>{{authService.name}}</td>
                </tr>
                <tr>
                    <td>Age : </td>
                    <td>{{authService.age}}</td>
                </tr>
                <tr>
                    <td>Job : </td>
                    <td>{{authService.job}}</td>
                </tr>
                <tr>
                    <td>Username : </td>
                    <td>{{username}}</td>
                </tr>
             </table>
        </div> -->
    </div>
</body>
