<div class="container col-12">
    <div class="title">Lastest Job Update</div>
    <hr>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card carousel-card" style="width: 100%;">
                    <div class="card-body">
                      <div class="header">
                        <img src="../../../assets/images/logo-fb.png" width="100px" alt="" srcset="">
                        <h1 class="card-title">PT Facebook Indonesia</h1>
                      </div>
                      <hr>
                      <h3 class="card-title">Front End Developer</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card carousel-card" style="width: 100%;">
                    <div class="card-body">
                      <div class="header">
                        <img src="../../../assets/images/logo-insta.png" width="100px" alt="" srcset="">
                        <h1 class="card-title">PT Instragram Indonesia</h1>
                      </div>
                      <hr>
                      <h3 class="card-title">Angular Developer</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card carousel-card" style="width: 100%;">
                    <div class="card-body">
                      <div class="header">
                        <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                        <h1 class="card-title">PT Youtube Indonesia</h1>
                      </div>
                      <hr>
                      <h3 class="card-title">Back End Developer</h3>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="content d-flex flex-wrap justify-content-center">
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Youtube</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Back End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Back-End</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Youtube</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Front End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Internship</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Front-End</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Linkedin</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Back End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Back-End</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-twitter.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Twitter</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Back End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">2-Years</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Back-End</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Linkedin</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Front End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Front-End</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-fb.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Facebook</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Full Stack Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Full Stack</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Youtube</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">UI/UX Designer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Design</div>
                </div>
            </div>
        </div>
        <div class="column-flex">
            <div class="card">
                <div class="header">
                    <img src="../../../assets/images/logo-snapchat.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Snapchat</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Back End Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Full-time</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Back-End</div>
                </div>
            </div>
    </div>
</div>
