.sidebar{
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: blue;
    position: fixed;
    padding: 4.5rem 1rem 1rem 1rem;
}

.main-content{
    position: relative;
    margin-left: 300px;
    background: rgb(225, 219, 219);
    min-height: calc(100% - 3.5rem);
}

.body-content{
    background-color: white;
    padding: 1rem 1rem 1rem 4rem;
}

.footer{
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
}

.column-flex{
    width: 25%;
}