<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container shadow-lg d-flex flex-row justify-content-between align-items-center">
        <div class="image">
            <img src="./assets/images/photo-1556978082-fc2023bb5081.webp" alt="">
        </div>
        <div class="content d-flex flex-column">
            <div class="title">Sign In</div>
            <hr>
            <div class="input-data d-flex flex-column">
                <form> 
                    <div class="form-group text-start">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group text-start">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <div class="status d-flex flex-row justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  Remember Me
                                </label>
                            </div>
                            <div class="forgot-password"><a>Forgot Password</a></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="login-option">
                        or Login with
                        <div class="icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-google"></a>
                        </div>
                    </div>
                    <div class="sign-up">
                        Not a member ? <a class="" style=" text-decoration: underline;">Sign up</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<!-- <body>
    <div class="container">
        <div class="title">
            <h1>Login</h1>
        </div>
        <div class="data">
            <h1>Username</h1>
            <app-text-input [isPassword]="false" (iniEvent)="FunctionAuth($event)"></app-text-input>
            <h1>Password</h1>
            <app-text-input [isPassword]="true" (iniEvent)="FunctionAuth($event)"></app-text-input>
        </div>
        <div class="button">
            <button>Login</button>
            <button (click)="clear()">Clear</button>
        </div>

        <div class="tableData">
            <table class="tableText">
                <tr>
                    <td>Name : </td>
                    <td>{{authService.name}}</td>
                </tr>
                <tr>
                    <td>Age : </td>
                    <td>{{authService.age}}</td>
                </tr>
                <tr>
                    <td>Job : </td>
                    <td>{{authService.job}}</td>
                </tr>
                <tr>
                    <td>Username : </td>
                    <td>{{username}}</td>
                </tr>
             </table>
        </div>
    </div>
</body> -->
