.center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;

    .form1{
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
    }

    .form2{
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
    }

    .form-group {
        padding-top: 8px;
        padding-top: 8px;
    }

    .btn-submit {
        background: red;
        cursor: pointer;
    }

    .input {
        height: 26px;
        width: 250px;
        font-weight: 600;
    }

}

.padding-top-16 {
    padding-top: 32px;
}