<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="main-content">
    <div class="body-content">
        <div class="job-status">
            <div class="card" style="width: 20rem;">
                <div class="title" style="border-radius: 0.2rem;padding:1rem">
                    <h5 class="card-title">Job Status</h5>
                </div>
                <div class="card-body">
                  <div class="card" style="width: 18rem;">
                    <div class="header">
                      <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                      <h4 class="card-title">Youtube</h4>
                    </div>
                  <div class="card-body">
                      <h5 class="card-title">Front End Developer</h5>
                      <p class="card-text">Status | User Interview</p>
                  </div>
                  <div class="keyword">
                      <div class="keyword-1">Internship</div>
                      <div class="keyword-2">Programmer</div>
                      <div class="keyword-3">Front-End</div>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <div class="header">
                    <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Linkedin</h4>
                  </div>
                <div class="card-body">
                    <h5 class="card-title">Back End Developer</h5>
                    <p class="card-text">Status | User Interview</p>
                </div>
                <div class="keyword">
                    <div class="keyword-1">Internship</div>
                    <div class="keyword-2">Programmer</div>
                    <div class="keyword-3">Front-End</div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="header">
                  <img src="../../../assets/images/logo-twitter.png" width="100px" alt="" srcset="">
                    <h4 class="card-title">Twitter</h4>
                </div>
              <div class="card-body">
                  <h5 class="card-title">Front End Developer</h5>
                  <p class="card-text">Status | User Interview</p>
              </div>
              <div class="keyword">
                  <div class="keyword-1">Full-Time</div>
                  <div class="keyword-2">Programmer</div>
                  <div class="keyword-3">Front-End</div>
              </div>
            </div>
                  
                </div>
              </div>
        </div>
        <router-outlet></router-outlet>
        
        <app-footer></app-footer>
    </div>
</div>

