  .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .image-photo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .header-content .image-photo img{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
  }

  .btn {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .btn button {
    width: 100%;
    margin: 0.5rem;
  }

  .line{
    width: 100%;
    border-top: 1px solid black;
    margin-bottom: 1rem;
  }

  @media (max-width: 992px) {
    .sidebar{
        display: none;
    }

    .main-content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        min-height: 100%;
    }

    .body-content{
        padding: 4rem 1rem 1rem 1rem;
    }
    
  }

  @media (max-width: 520px){
      .header-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        text-align: center;
      }

      .image-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

// .center-content {
//     display: flex;
//     justify-content: center;

//     .form-group {
//         padding-top: 8px;
//         padding-top: 8px;
//     }

//     .btn-submit {
//         background: red;
//         cursor: pointer;
//     }

//     .input {
//         height: 26px;
//         width: 250px;
//         font-weight: 600;
//     }

// }

// .padding-top-16 {
//     padding-top: 32px;
// }

