<div class="content">
    <div class="header-content">
        <div class="image-photo">
            <img src="./assets/images/avatar-michelle.jpg" alt="">
            <div class="profile">
                <h1>Profile</h1>
                <p>Update your profile photo and personal details</p>
            </div>
        </div>
        <div class="btn">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
    <div class="line"></div>
    <div class="form-content">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="inputText" placeholder="First name">
            </div>
            <div class="col-md-6">
                <label for="firstName" class="form-label">Last Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Last name">
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">State</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
                <label for="exampleFormControlTextarea1">Your Bio</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add short bio..."></textarea>
            </div>
            <div class="col-md-6">
              <label for="inputEducation" class="form-label">Education List</label>
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>
            <div class="col-md-6">
              <label for="inputEducation" class="form-label">Education</label>
              <input type="text" class="form-control" id="inputEducation" placeholder="Education">
              <div class=" d-flex flex-column justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" style="margin:0.5rem;width: 100%;">Add</button>
                <button type="submit" class="btn btn-secondary" style="margin:0.5rem;width: 100%;">Remove</button>
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputExperience" class="form-label">Experience List</label>
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>
            </div>
            <div class="col-md-6">
              <label for="inputExperience" class="form-label">Experience</label>
              <input type="text" class="form-control" id="inputExperience" placeholder="Experience">
              <div class=" d-flex flex-column justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary" style="margin:0.5rem;width: 100%;">Add</button>
                <button type="submit" class="btn btn-secondary" style="margin:0.5rem;width: 100%;">Remove</button>
              </div>
            </div>
          </form>
    </div>
        


<!-- <div class="center-content">
    <button (click)="submitGet()" type="button">Submit Get</button>
    <button (click)="submitPost()" type="button">Submit Post</button>
</div>
<div class="center-content">
    {{text}}
</div> -->
