<nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="" (click)="submitWelcome()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="" (click)="submitDashboard()">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="" (click)="submitProfile()">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="" (click)="submitJobList()">Job List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="" (click)="submitJobUpdate()">Job Update</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
        <div class="btn-2">
          <button (click)="submitSignIn()" type="button" class="btn btn-outline-dark btn-login">Login</button>
          <button (click)="submitSignIn()" type="button" class="btn btn-outline-dark btn-register">Register</button>
        </div>
      </div>
    </div>
  </nav>
