<div class="container">
    <div class="column-flex">
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-twitter.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Twitter</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Back End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">2-Years</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Back-End</div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Linkedin</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Back End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">Full-time</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Back-End</div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-yt.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Youtube</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Front End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">Internship</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Front-End</div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Linkedin</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Back End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">Full-time</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Back-End</div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-twitter.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Twitter</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Back End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">2-Years</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Back-End</div>
            </div>
        </div>
        <div class="card" style="width: 100%;">
            <div class="header">
                <img src="../../../assets/images/logo-linkedin.png" width="100px" alt="" srcset="">
                <h4 class="card-title">Linkedin</h4>
              </div>
            <div class="card-body">
                <h5 class="card-title">Front End Developer</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Apply Now</a>
            </div>
            <div class="keyword">
                <div class="keyword-1">Full-time</div>
                <div class="keyword-2">Programmer</div>
                <div class="keyword-3">Front-End</div>
            </div>
        </div>
    </div>
</div>
